<!DOCTYPE html>
<html lang="de">
<head>
	<title>POST Image</title>

    <!-- jQuery -->
    <script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}"></script>

	<script type="text/javascript" src="{{url_for('.static', filename='posting.js')}}"></script>
</head>
<body>

<div>
	<input type="text" value="233" id='ID_r'>
	<input type="text" value="1" id='ID_g'>
	<input type="text" value="89" id='ID_b'>
	<button type="button" id="ID_2" onclick="poster_func()">POST</button>
</div>

<img id="ID_result", width="100%">

</body>
</html>