<!DOCTYPE html>
<html lang="de">
<head>
	<title> Profilemaker Webend</title>

	<!-- Style resources -->
	<link rel="shortcut icon" href="{{ url_for('.static', filename='icon.png') }}">

	<!-- Jquery von Google, (schneller, besser) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- lokales jQuery als fallback -->
	<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jQuery.js') }}">\x3C/script>')</script>

	<script type="text/javascript" src="{{url_for('.static', filename='posting.js')}}"></script>
</head>
<body>

<div>
	<input type="text" value="233" id='ID_r'>
	<input type="text" value="1" id='ID_g'>
	<input type="text" value="89" id='ID_b'>
	<button type="button" id="ID_2" onclick="poster_func()">POST</button>
</div>

<img id="ID_result", width="100%">

</body>
</html>